<div class="row contact" style="height: 200px;">
  <div class="col">
    <div class="row" style="margin-top:25px;">
      <div class="col text-center">
        <h3><strong>Contact Us</strong></h3>
      </div>
    </div>
    <div class="row" style="margin-top:25px;">
      <div class="col-2"></div>
      <div class="col-3">
        <h6><strong>Phone</strong></h6>
          1877-552-0202
      </div>
      <div class="col-3">
        <h6><strong>Address</strong></h6>
        2533 East 27 Street<br>
        Brooklyn NY 11235
      </div>
      <div class="col-3">
        <h6><strong>Emails</strong></h6>
        info@umbretta.com<br>
        arkadiy@umbretta.com
      </div>
    </div>
  </div>
</div>
