<div class="row no-gutters contact" style="height: 350px; background-color: rgba(255, 245, 255, 0.8);">
  <div class="col">
    <div class="row no-gutters" style="margin-top:25px;">
      <div class="col text-center">
        <h3><strong>Contact Us</strong></h3>
      </div>
    </div>
    <div class="row " style="margin-top:25px;">
      <div class="col-xs-12 col-sm-3 offset-sm-2 text-center">
        <br><h6><strong>Phone</strong></h6>
          1877-552-0202<br>
      </div>
      <div class="col-xs-12 col-sm-3">

      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <br><h6><strong>Emails</strong></h6>
        <a href="mailto:info@umbretta.com">info@umbretta.com</a> <br>
        <a href="mailto:arkadiy@umbretta.com">arkadiy@umbretta.com</a>

      </div>
    </div>
  </div>
</div>
