<div class="row contact" style="height: 400px;">
  <div class="col">
    <div class="row" style="margin-top:25px;">
      <div class="col text-center">
        <h3><strong>Contact Us</strong></h3>
      </div>
    </div>
    <div class="row" style="margin-top:25px;">
      <div class="col-2"></div>
      <div class="col-3">
        <h6><strong>Adress</strong></h6>
        Line 1
        <br>
        Line 2
      </div>
      <div class="col-3">
        <h6><strong>Media & PR</strong></h6>
        Line 1
        <br>
        Line 2
      </div>
      <div class="col-3">
        <h6><strong>Support</strong></h6>
        Line 1
        <br>
        Line 2
      </div>
    </div>
  </div>
</div>
