<div class="row no-gutters secondLayout" id="Features">
  <div class="col">

    <div class="row">
      <div class="col text-center LayoutText align-items-center" >
        <br>
        <h2>{{content?.name}}</h2>
      </div>
    </div>

    <div class="row  LayoutText align-items-center">

      <div class="col-sm-4 offset-sm-1 col-xs">
        <div *ngFor = "let Features1 of KioskFeaturesBlock1" class="row">
          <div class="col-sm" ><br>
            <h4>{{Features1?.name}}</h4>
              {{Features1?.description}}
              <br><br>
          </div>
        </div>
      </div>

      <div class="col-sm-3 clearfix hidden-sm-down ">
        <img src={{content?.imgPath}} class="img-responsive float-center" style="width: 100%;"/>
      </div>

      <div class="col-sm-4 col-xs">
        <div *ngFor = "let Features2 of KioskFeaturesBlock2" class="row" stylr="margin-bottom: 5%">
          <div class="col-sm"><br>
              <h4>{{Features2?.name}}</h4>
                  {{Features2?.description}}
                  <br>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="min-height: 500px;" id="Ads">
      <div class="col-sm-5 offset-sm-6 clearfix hidden-sm-down" >
        <br>
        <h2 class="text-center">Advertisement solution</h2>
          <div  class="row" *ngFor = "let adv of AdvertisementSolution" style="padding: 1% 5% 5% 0%">
            <div class="col-sm">
              <h4 class="text-left">{{adv?.name}}</h4>
              {{adv?.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col clearfix hidden-sm-up ">
    <br>
      <h2 class="text-center ">Advertisement solution </h2><br>
      <div  class="row" *ngFor = "let adv of AdvertisementSolution">
        <div class="col-sm">
          <h4 class="text-center">{{adv?.name}}</h4>
          {{adv?.description}}
      </div>
    </div>
  </div>
</div>
