<div class="container-fluid">
  <div class="row no-gutters firstLayout" style="min-height: 45vw">
    <div class="col">
      <header></header>
      <firstLayout></firstLayout>
    </div>
  </div>
    <!-- <innerLayout></innerLayout>
    <secondLayout></secondLayout>
    <div class="row">
      <div class="col">
        <ngx-gmaps></ngx-gmaps>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <app-forms></app-forms>
      </div>
    </div>
</div>
    <!-- <div class="row">
      <div class="col">
        <test></test>
      </div>
    </div> -->
<!-- <app-first-page></app-first-page> -->
<!-- <ngx-pages></ngx-pages> -->
<!-- <router-outlet></router-outlet> -->
