<div class="container-fluid">
<ngb-alert *ngIf="message" class="alert fixed-top" [type]="message.type" (close)="message = false">{{message.text}}</ngb-alert>
  <div class="row  no-gutters firstLayout">
    <div class="col">
      <header></header>
      <firstLayout></firstLayout>
    </div>
  </div>

    <innerLayout></innerLayout>
    <secondLayout></secondLayout>
    <opportunity></opportunity>
    <ngx-gmaps></ngx-gmaps>
    <app-forms></app-forms>
    <contact></contact>
    <!-- <alert [staticAlertClosed]="staticAlertClosed" [type]="type" [message] = "message"></alert> -->
</div>
    <!-- <div class="row">
      <div class="col">
        <test></test>
      </div>
    </div> -->
<!-- <app-first-page></app-first-page> -->
<!-- <ngx-pages></ngx-pages> -->
<!-- <router-outlet></router-outlet> -->
