<div class="container-fluid">

  <div class="row no-gutters firstLayout">
    <div class="col">
      <header></header>
      <firstLayout></firstLayout>
    </div>
  </div>

    <innerLayout></innerLayout>
    <secondLayout></secondLayout>
    <div class="row">
      <div class="col">
        <ngx-gmaps></ngx-gmaps>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-2"></div>
      <div class="col-8">
        <app-forms></app-forms>
      </div>
      <div class="col-2"></div>
    </div>
    <contact></contact>
</div>
    <!-- <div class="row">
      <div class="col">
        <test></test>
      </div>
    </div> -->
<!-- <app-first-page></app-first-page> -->
<!-- <ngx-pages></ngx-pages> -->
<!-- <router-outlet></router-outlet> -->
