<div class="row no-gutters opportunity align-items-center" id="Opportunities" style="min-height: 500px;">
  <div class="col">

    <div class="row mt-3">
      <div class="col-10 push-1 col-sm-6 push-sm-1 text-center LayoutText" >
        <h2>{{content?.name}}</h2>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-10 push-1 col-sm-6 push-sm-1 text-left LayoutText" style="padding: 5% 5% 5% 5%;" >
        <span innerHTML="{{content?.description}}"></span>
      </div>
    </div>

  </div>
</div>
